<h2>Games</h2>

<ul>
  <% games.forEach(function(game) { %>
    <li>
      <a href="<%= "/game/" + game.name %>">
        <%= game.name %>
      </a>

      <form method="POST" action="<%= "/game/" + game.name + "?_method=DELETE" %>">
        <button type="submit">Delete</button>
      </form>
    </li>
  <% }) %>
</ul>
